body {
  font-family: "Arial", sans-serif;
}

.media-widget_box {
  box-sizing: border-box;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;

  border: 2px solid blue;
  border-radius: 20px;
}

/* Widget header --------------------------------*/

.media-widget_header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  
  color: white;
  font-size: 14px;
  font-style: italic;
  background-color: blue;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;

  cursor: move;
}

.media-widget_header_title {
  margin: 0;

  font-size: 18px;
  letter-spacing: 1px;
}

.dots {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50px;
}

.dot {
  box-sizing: border-box;
  width: 10px;
  height: 10px;

  border: 1px solid gray;
  border-radius: 50%;

  background-image: radial-gradient(red, gray);
}

.dot-2 {
  background-image: radial-gradient(yellow, gray);
}

.dot-3 {
  background-image: radial-gradient(green, gray);
}

/* Content ------------------------------------------------------*/
.media-widet_content-box {
  display: flex;
  min-height: 200px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.media-widget_scroll {
  width: 50px;
}

.media-widget_tasks {
  flex-grow: 1;
  width: 100%;
}

.media-block {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;


  border: 2px solid gray;
  border-radius: 10px;
  background-color: palegoldenrod;
}

.content-block {
  width: 350px;
}

.text-content {
  padding-right: 20px;
  word-break: break-all;
  margin-bottom: 10px;
}

.coords-box {
  display: flex;
  justify-content: flex-start;
}

.coord {
  margin-right: 5px;
}

.visibility-icon {
  width: 25px;
  height: 20px; 

  background-image: url("../img/sprite_eyes.png");
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: -1px -3px;

  cursor: pointer;
}

.visibility-icon.to-visible {
  background-position: -28px -3px;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 130px;
}

.date-content {
  align-self: flex-end;
  font-size: 14px;
}

.info-block_icons {
  display: flex;
  justify-content: flex-end;
}

.info-block_icon {
  width: 20px;
  height: 20px;

  border: 2px solid gray;
  border-radius: 50%;
  background-image: url("../img/sprite_edit.png");
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: 3px 2px;

  cursor: pointer;
}

.info-block_icon.del-icon {
  background-position: -18px 2px;
}

.info-block_icon:first-of-type {
  margin-right: 20px;
}

.media_task:not(:last-of-type) {
  margin-bottom: 10px;
}

.circle {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;

  top: 20px;
  left: -37px;

  border-radius: 50%;
  border: 2px solid gray;
}

audio {
  outline: none;
  cursor: pointer;
}

video {
  outline: none;
  cursor: pointer;
}

.video-task {
  width: 100%;
}

.text-circle {
  background-color: tan;
}

.audio-circle {
  background-color: red;
}

.video-circle {
  background-color: yellow;
}

.preview-video-box {
  box-sizing: border-box;  
  position: absolute;
  top: -150px;
  left: -2px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: calc(100% + 4px);
  height: 150px;

  background-color: white;
  border: 2px solid gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.video-box {
  width: 95%;
  height: 120px;

  border: 2px solid gray;
  border-bottom: none;
  background-color: lightgray;
}

/* Widget footer ------------------------------------------------------------*/

.media-widet_footer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  min-height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 10px;

  border: 2px solid gray;
}

.media_input-field {
  flex-grow: 1;
  padding: 5px;

  border: none;
  resize: none;
  outline: none;
}
.footer-icons {
  align-self: stretch; 
}

.variant-icons-field {  
  display: flex;
  height: 100%; 

  justify-content: flex-end;
  align-items: center;
}

.icon {
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-color: tan;  

  cursor: pointer;
}

.start-record-btns .icon {  
  width: 40px;
  height: 40px;
  
  background-image: url("../img/sprite_media.png");
  background-size: 55px;

  transition: background-color 0.5s;
}

.on-record-btns .icon {  
  width: 30px;
  height: 30px;
  
  background-image: url("../img/sprite_controls.png");
  background-size: 35px;

  transition: background-color 0.5s;
}

.end-record-icon {
  background-position: -14px 5px;
}

.cancel-record-icon {
  background-position: 7px 5px;
}

.icon:last-of-type {
  margin-left: 10px;
}

.icon:first-of-type {
  margin-right: 10px;
}

.start-record-btns .icon:hover {
  background-color: palegreen;
  transition: background-color 0.5s;
  animation: oscil 0.2s ease-in backwards infinite;
}

@keyframes oscil {
  33% {transform: rotate(-15deg);}
  66% {transform: rotate(15deg);}  
}

.phone-icon {
  background-position: 6px center;
}

.camera-icon {
  background-position: -24px center;
}

.invisible {
  opacity: 0;
}

/* Modals ------------------------------------------------------*/
.modal {
  position: absolute;

  width: 500px;
  box-sizing: border-box;
  padding: 10px;

  color: gray;
  font-family: "Arial", sans-serif;
  border: 2px solid darkgray;
  border-radius: 20px;
  background-color: white;
}

.form-title {
  margin-bottom: 10px;

  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.modal-input {
  width: 50%;
  height: 20px;
  margin-bottom: 10px;

  outline: none;
}

.edit-modal-text {
  width: 100%;

  resize: none;
  outline: none;
}

.edit-modal-coord {
  width: 50%;
  margin-bottom: 10px;

  outline: none;
}

.modal-btn-row {
  display: flex;
  justify-content: center;
}

.modal-btn-row .modal-btn {
  box-sizing: border-box;  
  width: 100px;
  height: 30px;
  justify-content: center;

  color: gray;
  border: 2px solid gray;
  border-radius: 10px;
  outline: none;

  cursor: pointer;
}

.modal-btn-row .modal-btn:first-of-type {
  margin-right: 50px;
}

.error-box {
  color: red;
  font-style: italic;
}

.hidden {
  display: none;
}

.blocked {
  pointer-events: none;
}
